body {
    min-height: 100vh;
    background-image: url(./assets/images/quizz-app-background.png);
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.main-site {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-card {
    width: 40rem;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.answer-block:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 200, 0.1);
}

.bg-success,
.bg-danger {
    color: white;
}

.width-100 {
    width: 100%;
}

.end-screen-titel {
    display: flex;
    justify-content: center;
}

.end-screen-text {
    display: flex;
    justify-content: center;
}